In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder


from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv("DataSet_for_ANN.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
X = dataset.iloc[:,3:-1].values
y = dataset.iloc[:,-1].values

In [5]:
X[0:5]
# BEFORE

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [6]:
le = LabelEncoder()
X[:,2]= le.fit_transform(X[:,2])

In [7]:
X[0:5]
# AFTER

array([[619, 'France', 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 0, 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [8]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[1])],remainder='passthrough')

In [9]:
X[0:5]
# BEFORE

array([[619, 'France', 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 0, 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [10]:
X = np.array(ct.fit_transform(X))

In [11]:
# AFTER
X[0]

array([1.0, 0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [12]:
 X_train, X_test, y_train, y_test = train_test_split(
 X,y,test_size=0.2,random_state=1)

In [13]:
X_train

array([[0.0, 1.0, 0.0, ..., 0, 1, 124749.08],
       [1.0, 0.0, 0.0, ..., 0, 0, 41104.82],
       [0.0, 1.0, 0.0, ..., 1, 1, 45750.21],
       ...,
       [1.0, 0.0, 0.0, ..., 1, 1, 92027.69],
       [1.0, 0.0, 0.0, ..., 1, 1, 101168.9],
       [0.0, 1.0, 0.0, ..., 1, 0, 33462.94]], dtype=object)

In [14]:
print(X_train.shape[0])

8000

In [15]:
sc = StandardScaler()

In [16]:
X_train = sc.fit_transform(X_train)

In [17]:
X_train

array([[-0.99850112,  1.71490137, -0.57273139, ..., -1.55337352,
         0.97725852,  0.42739449],
       [ 1.00150113, -0.58312392, -0.57273139, ..., -1.55337352,
        -1.02327069, -1.02548708],
       [-0.99850112,  1.71490137, -0.57273139, ...,  0.64376017,
         0.97725852, -0.94479772],
       ...,
       [ 1.00150113, -0.58312392, -0.57273139, ...,  0.64376017,
         0.97725852, -0.14096853],
       [ 1.00150113, -0.58312392, -0.57273139, ...,  0.64376017,
         0.97725852,  0.01781218],
       [-0.99850112,  1.71490137, -0.57273139, ...,  0.64376017,
        -1.02327069, -1.15822478]])

In [18]:
X_test[0:5]

array([[1.0, 0.0, 0.0, 550, 1, 47, 2, 0.0, 2, 1, 1, 97057.28],
       [1.0, 0.0, 0.0, 680, 1, 34, 3, 143292.95, 1, 1, 0, 66526.01],
       [1.0, 0.0, 0.0, 531, 0, 42, 2, 0.0, 2, 0, 1, 90537.47],
       [0.0, 1.0, 0.0, 710, 1, 34, 8, 147833.3, 2, 0, 1, 1561.58],
       [0.0, 1.0, 0.0, 543, 1, 30, 6, 73481.05, 1, 1, 1, 176692.65]],
      dtype=object)

In [19]:
X_test = sc.transform(X_test)
X_test[0:5]

array([[ 1.00150113, -0.58312392, -0.57273139, -1.03768121,  0.91509065,
         0.77498705, -1.0482813 , -1.22599173,  0.80225696,  0.64376017,
         0.97725852, -0.05360571],
       [ 1.00150113, -0.58312392, -0.57273139,  0.30708683,  0.91509065,
        -0.46686456, -0.70174202,  1.07152411, -0.91150957,  0.64376017,
        -1.02327069, -0.58392685],
       [ 1.00150113, -0.58312392, -0.57273139, -1.23422423, -1.09278791,
         0.29735181, -1.0482813 , -1.22599173,  0.80225696, -1.55337352,
         0.97725852, -0.16685331],
       [-0.99850112,  1.71490137, -0.57273139,  0.61741792,  0.91509065,
        -0.46686456,  1.03095433,  1.14432271,  0.80225696, -1.55337352,
         0.97725852, -1.71234407],
       [-0.99850112,  1.71490137, -0.57273139, -1.11009179,  0.91509065,
        -0.84897275,  0.33787579, -0.04781879, -0.91150957,  0.64376017,
         0.97725852,  1.32964236]])